<div class="container animated fadeIn">
  <div class="card-columns">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Noticia de​​l día​</h5>
          <p class="card-text">
            <a target="_blank" href="https://www.pwcimpuestosenlinea.co/TLSTimes/Lists/Noticias/ver.aspx?ID=2095&RootFolder=%2FTLSTimes%2FLists%2FNoticias&Source=https%3A%2F%2Fwww%2Epwcimpuestosenlinea%2Eco%2FTLSTimes%2FPaginas%2Fdefault%2Easpx">
            <p class="orange"><i>La DIAN resolvió varias hipótesis planteadas con relación a la exclusión del impuesto nacional al consumo en San Andrés, providencia y Santa Catalina</i></p>
              Concepto 3934 de 2018 – Dirección de Impuestos y Aduanas Nacionales – DIAN</a></p>
          <p class="card-text"><small class="text-muted">Last updated 2 days ago</small></p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Última hora​​</h5>
          <p class="card-text">
            <a target="_blank" href="https://www.pwcimpuestosenlinea.co/TLSTimes/Lists/Noticias%20de%20ultima%20hora/Ver.aspx?ID=1189&RootFolder=%2FTLSTimes%2FLists%2FNoticias%20de%20ultima%20hora&Source=https%3A%2F%2Fwww%2Epwcimpuestosenlinea%2Eco%2FTLSTimes%2FPaginas%2Fdefault%2Easpx">
            <p class="orange"><i>Ya empezaron los vencimientos para la presentación de la declaración de renta de las personas naturales. Consulta el tuyo!</i></p></a></p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">¿Sabías qué?​​​</h5>
          <p class="card-text">
            <a target="_blank" href="https://www.pwcimpuestosenlinea.co/TLSTimes/Lists/Sabias%20que/Ver.aspx?ID=1102&RootFolder=%2FTLSTimes%2FLists%2FSabias%20que&Source=https%3A%2F%2Fwww%2Epwcimpuestosenlinea%2Eco%2FTLSTimes%2FPaginas%2Fdefault%2Easpx">
              <p class="orange"><i>Cuando una entidad no califica en el Régimen Tributario Especial y por tal razón le aplica el Régimen Ordinario, ¿podría estar exonerada de aportes?</i></p>
              DIAN, Concepto 879 de 2018
            </a></p>
          <p class="card-text"><small class="text-muted">Last updated 15 days ago</small></p>
        </div>
      </div>
  </div>
</div>








